<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <%- include('partials/styles.ejs') %>

</head>
<body>
  <%- include('partials/navbar.ejs') %>
  
  <div class="container">
    <h1>New Note</h1>
    <form action="/note" method="POST">
      <label for="habitat">Habitat:</label><br />
      <input type="text" id="habitat" name="habitat" value="" /><br />
      
      <label for="date">Date:</label><br />
      <input type="text" id="date" name="date" value=""/><br />

      <label for="appearance">Appearance:</label><br />
      <input type="text" id="appearance" name="appearance" value="" /><br />

      <label for="behaviour">Behaviour:</label><br />
      <textarea type="text" id="behaviour" name="behaviour" value=""></textarea><br />
      
      <label for="vocalisation">Vocalisations:</label><br />
      <input type="text" id="vocalisation" name="vocalisation" value="" /><br />

      <label for="flock_size">Flock Size:</label><br />
      <input type="text" id="flock_size" name="flock_size" value="" /><br />

      <br />

      <input type="submit" value="Submit" />
    </form>
  </div>

  <%- include('partials/scripts.ejs') %>

</body>
</html>